[submodule "duckdb"]
	path = duckdb
	url = https://github.com/duckdb/duckdb
	branch = main
[submodule "extension-ci-tools"]
	path = extension-ci-tools
	url = https://github.com/duckdb/extension-ci-tools
	branch = main
[submodule "microsoft-pst-sdk"]
	path = microsoft-pst-sdk
	url = git@github.com:enrondata/microsoft-pst-sdk.git
