[submodule "duckdb"]
	path = duckdb
	url = https://github.com/duckdb/duckdb
	branch = main
[submodule "extension-ci-tools"]
	path = extension-ci-tools
	url = git@github.com:intellekthq/duckdb-extension-ci-tools.git
	branch = main
[submodule "microsoft-pst-sdk"]
	path = microsoft-pst-sdk
	url = https://github.com/intellekthq/microsoft-pst-sdk.git
